body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
img {
  height: 100%;
  width: 100%;
}
.box {
  width: 75%;
  height: 100%;
  background-image: url(../HinhAnh/61802.jpg);
  background-position: center;
  background-size: cover;
  padding: 20px;
  position: relative;
}
.dong {
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
  z-index: 10;
}
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}
.hd-item {
  font-size: 16px;
  background-color: rgb(7, 144, 179);
  cursor: pointer;
  height: 33px;
}
.hd-item:first-child {
  background-color: purple;
}
.hd-item a {
  color: white;
  display: inline-block;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.ipt {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
.ipt input,
.ipt button {
  padding: 8px 15px;
  display: inline-block;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.show-info {
  height: calc(100% - 120px);
}
.flex-display {
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}
.table-scroll {
  overflow-y: scroll;
  position: relative;
}
.show-info th {
  position: sticky;
  top: 0;
}
.table-scroll input,
select,
textarea {
  display: inline-block;
  width: 70%;
  padding: 8px;
}
h3 {
  text-align: center;
  margin-top: 20px;
  color: rgb(10, 137, 255);
  font-size: 25px;
}
.table-scroll {
  overflow-y: scroll;
  height: calc(100% - 58.4px);
  position: relative;
  margin-top: 20px;
}
table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}
td,
th {
  border: 1px solid white;
  text-align: center;
  padding: 8.5px;
  text-align: center;
}
th {
  background: #eee;
  position: sticky;
  top: 0;
  border-top: 0;
  background-color: rgb(205, 195, 50);
}
tr:nth-child(even) {
  background-color: #f6f6f6;
}
tr:nth-child(odd) {
  background-color: #dddddd;
}
th[att="stt"] {
  width: 90px;
}
th[att="nam"] {
  width: 100px;
}
th[att="ngay"] {
  width: 150px;
}
th[att="ten"] {
  width: 250px;
}
