body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
label {
  background-color: #f6f6f6;
  text-transform: capitalize;
  color: #14b1ab;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 7px;
}
img {
  height: 100%;
  width: 100%;
}
input,
option,
select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 10px;
  display: inline-block;
  width: 60%;
  color: #14b1ab;
}
.box {
  width: 50%;
  height: 80%;
  background-image: url(../HinhAnh/61802.jpg);
  background-position: center;
  background-size: cover;
  padding: 20px;
  position: relative;
}
.dong {
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
  z-index: 10;
}
header {
  margin-bottom: 30px;
}
header h2 {
  color: #00a19d;
  background-color: #f6f6f6;

  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;

  padding: 7px;
  width: 35%;
  margin: 0 auto;
}
.filter {
  flex-basis: 80%;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.part1 {
  flex-basis: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100px;
}
.part2 {
  width: 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100px;
}
.fb-45 {
  flex-basis: 40%;
}
.fb-60 {
  flex-basis: 60%;
}
.fb-100 {
  margin-top: 20px;
  flex-basis: 100%;
}
.table-tools {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100% - 210px);
  margin: 30px 0;
  gap: 20px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  background: #eee;
}
th:first-child {
  padding: 0;
}
td,
th {
  border: 1px solid white;
  text-align: center;
  padding: 8.5px;
}
tr:nth-child(even) {
  background-color: #f6f6f6;
}
tr:nth-child(odd) {
  background-color: #dddddd;
}
.list-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  width: 44px;
}
.show-info {
  overflow-y: scroll;
  height: 100%;
  width: 600px;
}
.show-info thead th {
  position: sticky;
  top: 0;
}
